*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
ul {
   list-style: none;
}
a {
   text-decoration: none;
   outline: none;
}
img {
   display: block;
   width: 100%;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: normal;
   letter-spacing: 1px;
}
body {
   font-family: 'Open Sans', arial, sans-serif;
   font-size: 14px;
   line-height: 1;
   color: #373737;
   background: #f7f7f7;
}




 .container_header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
 }

 
 
 
   

 .header_logo_size {
    height: 32px;
    width: 63px;
 }

 .header_logo {
    padding-left: 170px;
 }

 a {
    color: black;
 }

 .nav {
   
  
    text-align: center;
 }
 
 .nav_link {
    margin: 0 15px;
    font-size: 18px;
 }

 section {
    display: flex;
    justify-content: center;  
    background: url(./images/backgroud.jpg) no-repeat;
    
 }

 .container_content {
    flex-direction: row;
    height: 1519px;
    width: 1131px;
    display: flex;
    justify-content: center;  
 }

 .container_inner {
    height: 956px;
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
 }

 .content {
    background: white;
    opacity: 0.7;
    width: calc((96%-10px)/3);
    height: calc((96%-10px)/2);
 }

 .content_inner {
    display: flex;
    justify-content: space-between;
    
 }

 .number_content {
    height: 96px;
    width: 84px;
    font-size: 90px;
    text-align: center;
    color: #B22222;
 }

 .text_content {
    font-size: 23px;
    height: 115px;
    width: 223px;
    text-align: inherit;

 }
 .container_main{
    padding: 30px;
    width: 100%;
    height: 100%;
 }

 .paragraph {
    margin-top: 30px;
    text-align: left;
    font-size: 16px;
    line-height: 1.7;
 }

 .more {
    
    margin-top: 100px;
    font-size: 15px;
    font-weight: bold;
    
 }

 .color_black {
    
    text-decoration: underline red;
    
 }


 @media (max-width:1199px) {
   .container_inner {
   max-width: 960px;
   }
   .more {
      margin-top: 60px;
   }
   .header_logo {
      padding-left: 90px;
   }
   
   

   }


 @media (max-width:989px) {
   .container_inner {
   max-width: 750px;
   }

   .content {
   width: calc((98% - 20px) / 2);
   margin-top: 20px;
}
   
   .more {
      margin-top: 100px;
   }
   
   .burger_content {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
   }
   .nav {
   display: none; 
   }

   
}


 @media (max-width:775px) {
   .container_inner {
      max-width: 550px;
      }
      .content {
         width: calc((100% - 20px) / 1);
      
 }
}

 @media (max-width:531px) {
   .container_inner {
      max-width: 330px;
      }
      .more {
         margin-top: 70px;
      }
 }